{% extends "index.html" %}
{% block table %}
{% set tabletype = ['TA','TB','TC','TD'] %}
{% set Variables = ['A','B','C','D'] %}
{%set num = 3%}
<!-- ######  truth table  ####### --> 
<table class="table table-sm table-bordered">
	<tbody>
	<tr>
		<th colspan="{{num}}">Present State</th>
		<th colspan="{{num}}">Next State</th>
		<th colspan="{{num}}">Flip Flop</th>
	</tr>
	<tr>
		{%for i in range(num)%}
		<td>{{Variables[i]}}</td>
		{%endfor%}
		{%for i in range(num)%}
		<td>{{Variables[i]}}+1</td>
		{%endfor%}		
		{%for i in range(num)%}
		<td> {{tabletype[i]}} </td>
		{%endfor%}
	</tr>
		{%for i in range(2**num)%}
			<tr>
			{% set outerloop = loop %}
			{%for i in range(num)%}
				<td>{{ bin[loop.index0 + outerloop.index0*4 +(4-num)]}}</td>
			{%endfor%}
			{%for i in range(num)%}
				<td>{{next_state[outerloop.index0*4+loop.index0]}}</td>
			{% endfor %}
			{%for i in range(num)%}
				<td>{{T_data[outerloop.index0*4+loop.index0]}}</td>
			{% endfor %}	
			</tr>
		{% endfor %}
		</tbody>
	</table>

<!-- ######  KMAP  ####### --> 
<p></p>
{%for i in range(num)%}
<p>{{tabletype[loop.index0]}}</p>
<table class="table table-sm table-bordered">
	<tr>
		<td></td>
		<th><SPAN STYLE="text-decoration:overline">BC</SPAN></th>
		<th ><SPAN STYLE="text-decoration:overline">B</SPAN>C</th>
		<th >BC</th>
		<th >B<SPAN STYLE="text-decoration:overline">C</SPAN></th>
	</tr>
	<tbody>
		<tr>
			<th><SPAN STYLE="text-decoration:overline">A</SPAN></th>
			<td>{{T_data[0+loop.index0]}}</td>
			<td>{{T_data[3+loop.index0]}}</td>
			<td>{{T_data[9+loop.index0]}}</td>
			<td>{{T_data[6+loop.index0]}}</td>
		</tr>
		<tr>
			<th>A</th>
			<td>{{T_data[12+loop.index0]}}</td>
			<td>{{T_data[15+loop.index0]}}</td>
			<td>{{T_data[21+loop.index0]}}</td>
			<td>{{T_data[18+loop.index0]}}</td>
		</tr>
	</tbody>
</table>
{% endfor %}
<!-- ######  EQUATION  ####### --> 

{% endblock %}