{% extends "index.html" %}
{% block table %}
{% set Variables = ['A','B','C','D'] %}

<p></p>
<p></p>
<form action="#" method="post">
<table class="table table-sm table-bordered">
<tbody>
	<tr>
		<th rowspan="2" colspan="{{num}}" style = "vertical-align: middle;">Present State</th>
		<th colspan="{{num*2}}" >Next State</th>
		<th rowspan="2" colspan="{{num}}" style = "vertical-align: middle;">Flip Flop</th>
	</tr>
	<div class="checkbox">	
		<tr>
			{%for i in range(num)%}
			<td colspan="2" >{{Variables[i]}}+1</td>
			{%endfor%}		
		</tr>
		<tr>
			{%for i in range(num)%}
				<td>{{Variables[i]}}</td>
			{%endfor%}
			{%for i in range(num)%}	
				<td>1</td>
				<td>0</td>
			{%endfor%}	
			{%for i in range(num)%}
			<td></td>
			{%endfor%}	
		</tr>
		<tr>
		{%for j in range(2**num)%}
			{% set outerloop = loop %}
			{%for i in range(num)%}
				<td>{{ bin[loop.index0 + outerloop.index0*4 +(4-num)]}}</td>
			{%endfor%}
			{%for i in range(num)%}
			<td><input type="radio" name={{input_variables[outerloop.index0*4+loop.index0]}} value="1" ></td>
			<td><input type="radio" name={{input_variables[outerloop.index0*4+loop.index0]}} value="0" checked="checked"></td>
			{% endfor %}
			{%for i in range(num)%}
			<td></td>
			{% endfor %}		
		</tr>
		{% endfor %}	
		
</table>
<p><input type="submit" value="submit"/></p>
</form
{% endblock %}
